.education-section {
  min-height: 50vh; 
  max-height: 50vh; 
  padding: 40px; 
  background-color: white;
  color: #333;
  overflow: auto; 
}

.education-section h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px; 
  color: #333;
  position: relative;
}

.education-section h1::after {
  content: '';
  display: block;
  width: 50px; 
  height: 3px;
  background-color: #007bff; 
  margin: 5px auto 0; 
}

.education-container {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.education-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: lightgrey;
}

.education-content h2 {
  font-weight: 200;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.education-content h3 {
  font-size: 1em;
  margin-bottom: 5px;
  color: #666;
}

.education-content ul {
  padding-top: 3px;
  list-style-type: disc;
  padding-left: 20px;
}

.education-content ul li {
  margin: 5px 0;
  line-height: 1.2;
  font-size: 0.9em;
}

.education-dates {
  padding-bottom: 70px;
  font-size: 0.9em;
  color: #666;
  text-align: right;
}

@media (max-width: 900px) {
  .education-section {
    min-height: 70vh; 
    max-height: 70vh;
    padding: 20px; 
  }

  .education-container {
    width: 80%; 
  }

  .education-item {
    flex-direction: column; 
    align-items: flex-start; 
    padding: 20px; 
  }

  .education-dates {
    padding-bottom: 20px;
    text-align: left; 
  }
}

@media (max-width: 600px) {
  .education-section {
    min-height: 80vh; 
    max-height: 80vh;
    padding: 10px; 
  }

  .education-container {
    width: 100%; 
  }

  .education-item {
    flex-direction: column; 
    align-items: flex-start; 
    padding: 15px; 
  }

  .education-dates {
    padding-bottom: 10px;
    text-align: left; 
  }
}
