.contact-section {
    text-align: center;
    padding: 60px 0; 
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap; 
  }
  
  .contact-container p {
    margin: 0;
    font-size: 1em; 
  }
  
  .back-to-top {
    margin-right: 6.5%;
    text-align: center;
    cursor: pointer;
  }
  
  .back-to-top img {
    width: 32px; 
    height: 32px;
    transition: transform 0.3s ease;
  }
  
  .back-to-top img:hover {
    transform: scale(1.2);
  }
  
  .social-icons {
    display: flex;
    gap: 20px; 
    justify-content: center; 
  }
  
  .social-icons img {
    width: 32px; 
    height: 32px;
    transition: transform 0.3s ease;
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
  }
  
  @media (max-width: 1200px) {
    .contact-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .back-to-top {
      order: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-right: 6px;
      margin-bottom: 10x;
    }
  
    .social-icons {
      order: 2;
      margin-top: 5px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  
    .contact-container p {
      order: 3;
      text-align: center;
      height: 0px;
    }
  }
  