.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px 0;
  background: linear-gradient(to right, #89CFF0, white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 60%;
  top: -100px; 
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.3s;
  z-index: 1000;
}

.nav-item {
  display: block;
  text-align: center;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-item:hover, .nav-item:focus {
  font-size: 16px; 
  color: #000000; 
  padding: 10px 0; 
}


.visible {
  top: 0; 
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@media (max-width: 1000px) {
  .navbar {
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: center;
  }

  .nav-item {
    display: block;
    text-align: center;
    font-weight: bold;
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
  }

  .navbar:not(.visible) {
    top: -100%; 
  }

  .visible {
    top: 0; 
  }
}
